

.controller-layout {
	position: fixed; 
	top: 50%; 
	left: 50%;
	margin: 0;
	padding: 0;
	/* the example layout fits an iPhone 6 and larger */
	width: 667px; 
	height: 375px; 
	margin-left: -333px; 
	margin-top: -187px;"
}

#messagearea {
	text-align: center; 
	font-family: courier; 
	font-size: 16px; 
	color: #0a0;
}
#errorarea {
	text-align: center; 
	font-family: courier; 
	font-size: 16px; 
	color: #f00;
}
